@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.container{
  box-shadow: 0px 0px 10px 4px grey;
  /* border: 1px solid white; */
  border-radius: 8px;
}
.calculator{
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  border: 1px solid rgb(168, 156, 156);

}

input{
  width: 320px;
  /* border: none; */
  padding: 24px;
  margin: 10px;
  /* background: transparent; */
  background-color: aqua;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #070b08;
  font-size: 25px;
  font-weight: 600;
}

input::placeholder{
  color: #ffffff;
}

button{
  /* border: none; */
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.equalBtn{
  background-color: #075271;
}

.operator{
  color: #ee970a;
}